* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'PT Sans', sans-serif;
}

.home,
.projects,
.skills,
.experience
.education 
.certificate{
  display: center;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  text-align: center;
}

.projects {
  background-image: url('/src/images/img-2.jpg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.5rem;
}

.skills {
  background-image: url('/src/images/img-1.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 1.5rem;
}

.experience {
  background-image: url('/src/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 2rem;
}
.education {
  background-image: url('/src/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 2rem;
}
.certificate {
  background-image: url('/src/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 2rem;
}